.body {
  width: clamp(1100px, 100%, 1440px);
  margin: 0 auto;
}

.header {
  background-color: black;
  position: relative;
  z-index: 0;
}

.header::before {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle 300px at right 500px top 400px,
    rgb(2, 238, 255),
    transparent
  );
  width: 100%;
  height: 100%;
  z-index: -1;
}
