.header__hero {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.header__content {
  width: 73%;
}

.header__name {
  font-family: "ArchivoBlack", "OpenSans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: clamp(58px, 5vw, 72px);
  display: flex;
  flex-direction: column;
  margin: 9.8% 0 0 13.2%;
}

.header__profession {
  color: rgba(255, 255, 255, 0.5);
  font-size: 100%;
  margin: 1.7% 0 0 13.2%;
}

.header__job-title::after {
  content: " | ";
}

.header__about {
  color: #fff;
  font-size: 100%;
  margin: 3.4% 0 0 13.2%;
}

.header__image {
  width: 27%;
  aspect-ratio: 387/500;
  object-fit: cover;
  margin: 2.8% 8.4% 0 0;
}

.header__nav {
  margin: 3.4% 0 0 13.2%;
}

.header__nav-links {
  display: flex;
  gap: 30px;
  padding: 0;
}

.header__nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 100%;
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  font-weight: 600;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, rgba(2, 69, 255), rgb(2, 238, 255));
}

.header__nav-link:hover::after {
  width: 100%;
}
